PORT=3010

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=tablero_incidentes

JWT_SECRET=
JWT_EXPIRES_IN=8h

SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_contraseña_de_aplicacion
SMTP_FROM=tu_correo@gmail.com
SMTP_CONNECTION_TIMEOUT=10000
SMTP_GREETING_TIMEOUT=10000
SMTP_SOCKET_TIMEOUT=15000
SMTP_SEND_TIMEOUT=12000

VAPID_SUBJECT=mailto:tu_correo@empresa.com
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
